*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*

Global CSS

*/
.container{
    width: 80%;
    margin: auto;
}
.btn{
    padding: 10px 30px;
    border: 1px solid crimson;
    background: transparent;
    border-radius: 4px;
    outline: none;
    color: crimson;
    text-transform: uppercase;
    transition: .3s;
}
.btn:hover{
    background:crimson;
    color:#fff;

}
li{
    list-style: none;
}



/*

Main CSS

*/
.loader{
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 15;
    animation: loader 3.5s     forwards;
    opacity: 1;
}
@keyframes loader {
    0%{opacity: 1;}
    80%{opacity: 1;}
    90%{opacity: 0; transform: scale(1);}
    100%{opacity: 0; transform: scale(0);}
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


header{
    width: 100%;
    height: 80px;
    position: absolute;

}
nav{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
#checked,
#open_btn,
#close_btn{
    display: none;
}
.logo h1{
    background: -webkit-linear-gradient(45deg, #eee,#fff,#d40404, #fd7ef7);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.collection{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.banner_container{
    width: 100%;
    height: 100vh;
    background: url(./IMG/women.jpg) no-repeat top/cover;
}
.banner{
    width: 50%;
    margin-left: 50%;
    padding-top: 100px;
  
}
.banner h3{
    background: -webkit-linear-gradient(right, #eee,#fff,#d40404, #fd7ef7);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

}
.banner h1{
    padding: 20px 0;
    font-size: 4rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px red;
}
.banner p{
    color: blueviolet;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
    padding-bottom: 30px;
}
.pro_item{
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 3rem;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    min-width: 260px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 8px;
}
.card img{
    width: 100%;
    padding-bottom: 16px;
}
.card p{
    padding: 16px 0;
    line-height: 1.4;
    color: gray;
}
.about{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.about_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50px;
}
.about_left p{
    padding: 20px 0;
    color: gray;
}
.about_right{
    width: 50%;
    height: 100%;
}
.women1{
    background: url(./IMG/women2.jpg) no-repeat center/cover;
}
.women2{
    background: url(./IMG/tired-women.jpg) no-repeat center/cover;
    margin-right: 50px;
}
/* .footer{
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background:#F4F4F4;
    display: flex;
}
.box{
    width: 25%;
    height: 100%;
}
.child{
    width: 100%;
    display: flex;
    align-items: center;
    height: 25%;
}
.icon{
    margin-left: 20px;
    width: 20%;
    font-size: 3.7rem;
    height: 60%;
    color: #FBC206;
    display: flex;
    align-items: center;
}
.info{
    margin-left: 20px;
}
.info h2{
    color: #333333;
}
.box1{
    display: flex;
    flex-wrap: wrap;
}
.box2{
    display: flex;
    justify-content: center;
}
.box2 .cont{
    
}
.box2 .cont h2{
    margin-top: 30px;
}
.box2 .cont p{
    margin-top: 20px;
    color: gray;
    cursor: pointer;
}
.text{
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;   
}
.pay{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxs{
    width: 82px;
    height: 50px;
    background: #fff;
    border-radius:5px;
}
.zoodpay{
    background: url(https://elmakon.uz/assets/images/zoodpay.png) no-repeat center/contain;
}
.uzcard{
    background: url(http://static.norma.uz/images/144352_2b4c8789226d85bced8b7a465a7e.jpg) no-repeat center/contain;
}
.zoodmall{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1NkIBYdniVRY6RhoGlLLShsJ0do-45BLA29yLPSTkVlCbYrioNxBg4l8zoMhOvhBy6nI&usqp=CAU) no-repeat center/contain;
}
.market{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-tzkgu0vhv_mAM5pcsseWt8HqIjnVXwoRjNMZtQHGLft2QgbEWMv_xlZdOa0whsIGwdg&usqp=CAU)no-repeat center/contain;
}
.paymart{
    background: url(https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_09cdc08e395076c37b609b86759b1978/paymart.png)no-repeat center/contain;    
}
.payme{
    background: url(https://www.uzdaily.uz/storage/img/Askar-foto/payme.jpg) no-repeat center/contain;
}
.click{
    background: url(https://docs.click.uz/wp-content/themes/click_help/assets/images/logo.png) no-repeat center/contain;
}
.humo{
    background: url(https://storage.kun.uz/source/3/0l0Et_zvqMGYpXNARW5OuRVK-aUxX7zC.jpg) no-repeat center/contain;
}
.info:hover h2{
    color: #FBC206;
    transition: .5s;
}
footer{
    width: 100%;
    height: 40px;
    text-align: center;
    background: cyan;
} */
.login_form{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* overflow: hidden; */
}
.login_formContainer{
    width: 80%;
    height: 100%;
    border:4px solid #2E305E;
    border-radius:10px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 20px #2f2f5871;
}
.login_formContainer::after{
    content:'';
    position: absolute;
    top: -40px;
    left: -60px;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 20px;
    z-index: -1;
}
.login_formContainer::before{
    content:'';
    position: absolute;
    bottom: -90px;
    right: -10px;
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 20px;
    z-index: -1;
    opacity: .5s;
}
.login_formContainer h1{
    padding-top: 30px;
    text-align: center;
}
.login_formWpapper{
    width: 80%;
    margin: auto;
    height: 85%;
    display: flex;
    align-items: center;
}
.login_image{
    width: 50%;
    height: 100%;
    background: url(https://static.tildacdn.com/tild3430-3430-4163-b637-363437363363/noroot.png) no-repeat center/80%;
}
.login_formControl{
    width: 50%;
}
.form_item{
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
    position: relative;

}
.form_item input{
    width: 100%;
    height: 30px;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 2px solid #2E305E;
    outline: none;
}
.form_item label{
    font-size: 14px;
    color: #2E305E;
    position: absolute;
    top: 5px;
    transition: .3s;
}
.form_item input:focus ~ label{
    top: -15px;
}
.login_sbt{
    width: 70%;
    margin-top: 20px;
    height: 40px;
    background: red;
    border: none;
    border-radius: 5px;
    color: #fff;
}
footer{
    width: 100%;
    padding: 50PX 0;
    background: #121449;
    margin-top: 100px;
}
.footer_wrapper{
    width: 80%;
    margin: auto;
    color: #61628b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer_item h3{
    padding-bottom: 16px;
    color:#7f80af;
}
.footer_collection li{
    line-height: 1.5;
    transition: .3s;
}
.footer_collection li:hover{
    color: #7f80af;
    cursor: pointer;
    transform: translateX(5px);
}
.footer_icons i{
    display: inline-block;
    font-size: 1.7rem;
    margin-right: 14px;
    transition: .3s;
}
.footer_icons i:hover{
    color: #fff;
    cursor: pointer;
    transform: translateY(-3px);
}
.footer_bootom{
    text-align: center;
    margin-top: 50px;
    color: #61628b;
}





















@media screen and (max-width:1200px) {
    .banner h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:900px) {
    .collection{
        width: 55%;
    }
    .banner{
        padding-top: 120px;
    }
    .banner h1{
        font-size: 2.5rem;
    }
    .banner p{
        font-size: 15px;
    }
    .login_formWpapper{
        width: 100%;
    }
    .footer_wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:600px) {
    .collection{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background:url(./IMG/women.jpg) no-repeat center/cover;
        margin-top: 80px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform-origin: top;
        transform: scaleY(0);
        transition: .5s;
    }
    .collection_item{
        padding: 16px 0;
    }
    #open_btn{
        display: block;
    }
    #checked:checked ~ .collection{
        transform: scaleY(1);
    }
    #checked:checked ~ label #open_btn{
        display: none;
    }
    #checked:checked ~ label #close_btn{
        display: block;
    }
    .banner_container{
        background: url(./IMG/women.jpg) no-repeat right/cover;
    }
    .banner{
        margin-left: 0;
        width: 100%;
    }
    .pro_item{
        font-size: 2rem;
    }
    .about{
        flex-direction: column;
        height: auto;
    }
    .about_left{
        width: 100%;
        padding: 0;

    }
    .about_right{
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
    .about_reverse{
        flex-direction: column-reverse;
    }
    .login_form{
        height: 400px;
    }
    .login_formContainer h1{
        font-size: 24px;
    }
    .login_image{
        display: none;
    }
    .login_formControl{
        width: 80%;
        margin: auto;

    }
    .form_item{
        width: 100%;
    }
    .login_sbt{
        width: 100%;
    }
    .login_formContainer::after{
        display: none;
    }
    .login_formContainer::before{
        display: none;
    }
    .footer_wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 0;
    }

    @media screen and (max-width:400px) {
        .footer_wrapper{
            width: 95%;
        }
    }
}